<a href="https://colab.research.google.com/github/lochana-vishwajith/ML_Assignment2_IT19140230_IT19111520_IT18014396_IT19152806/blob/main/ML_Assingment2_CarPrice_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

description about the libraries


**NumPy**

NumPy, which stands for Numerical Python, is a python library that consists of multidimensional array objects and a collection of routines for processing those arrays. Using NumPy, logical and mathematical operations can be performed.

**sklearn**

Sklearn, which stands for scikit-learn is a python library for machine learning. Sklearn is focuses on machine learning techniques, such as mathematical, statistical, and general-purpose algorithms, which serve as the foundation for many machine learning technologies. The sklearn library includes a number of useful machine learning and statistical modeling methods, such as classification, regression, clustering, and dimensionality reduction.

In [ ]:
#Importing libraries 
import pandas as pd
import numpy  as np
from sklearn import linear_model
import sys
np.set_printoptions(threshold=sys.maxsize)

importing the code

In [ ]:
url = 'https://raw.githubusercontent.com/lochana-vishwajith/ML_Assignment2_IT19140230_IT19111520_IT18014396_IT19152806/main/Vehicle%20details.csv'
carset = pd.read_csv(url)

checking the dataset

In [ ]:
carset.head()

,Price,Brand,Model,Edition,Year,Condition,Transmission,Body,Fuel,Capacity,Mileage
0,"12,900,000",Honda,Vezel,Limited,2017,Used,Automatic,SUV / 4x4,Hybrid,"1,500 cc","37,000 km"
1,"16,250,000",Jaguar,XF,Fully Loaded,2013,Used,Automatic,Saloon,Diesel,"2,200 cc","42,000 km"
2,"17,000,000",Toyota,CHR,GT New Face 2wd,2020,Used,Automatic,SUV / 4x4,Petrol,"1,200 cc","15,000 km"
3,"13,000,000",Toyota,CHR,Toyato,2017,Used,Automatic,SUV / 4x4,Petrol,"1,200 cc","21,000 km"
4,"33,500,000",Toyota,Land Cruiser Prado,prado,2015,Used,Automatic,SUV / 4x4,Petrol,"2,700 cc","57,000 km"

In [ ]:
carset.shape

(40531, 11)

In [ ]:
carset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40531 entries, 0 to 40530
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         40531 non-null  object
 1   Brand         40531 non-null  object
 2   Model         40531 non-null  object
 3   Edition       40531 non-null  object
 4   Year          40531 non-null  int64
 5   Condition     40531 non-null  object
 6   Transmission  40531 non-null  object
 7   Body          40531 non-null  object
 8   Fuel          40531 non-null  object
 9   Capacity      40531 non-null  object
 10  Mileage       40531 non-null  object
dtypes: int64(1), object(10)
memory usage: 3.4+ MB

Featuring the dataset

In [ ]:
#finding the unique values available in the year
carset['Year'].unique()
#year column is ok

In [ ]:
# finding the unique values in price
len(carset['Price'].unique())

2516

In [ ]:
len(carset['Edition'].unique())

14106

some of the data has been supressed we cannot have a look on them so need to enable options to see them as well.

In [ ]:
pd.describe_option()

changing the options of the pandas to see all the rows

In [ ]:
pd.get_option('display.max_columns')

In [ ]:
pd.get_option('display.max_rows')

changing the properties

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
#display.max_seq_items

pd.set_option('display.max_colwidth',None)

In [ ]:
#display.show_dimensions
pd.get_option('display.show_dimensions')

True

In [ ]:
from os import truncate
#display.show_dimensions set
pd.set_option('display.show_dimensions',True)

In [ ]:
#display.show_dimensions
pd.get_option('display.show_dimensions')

True

checking out the options selected correctly or not

In [ ]:
carset['Edition'].unique()

In [ ]:
len(carset['Brand'].unique())

60

In [ ]:
type(carset['Edition'].unique())

numpy.ndarray

In [ ]:
print(carset['Edition'].unique())

In [ ]:

print(len(carset['Edition'].unique()))

14106

featuring continues

In [ ]:
carset['Brand'].unique()

In [ ]:
carset['Model'].unique()

In [ ]:
carset['Year'].unique()

In [ ]:
carset['Year'].unique()

In [ ]:
carset['Condition'].unique()

array(['Used', 'Reconditioned', 'New'], dtype=object)

In [ ]:
carset['Transmission'].unique()

array(['Automatic', 'Manual', 'Tiptronic', 'Other transmission'],
      dtype=object)

In [ ]:
carset['Body'].unique()

array(['SUV / 4x4', 'Saloon', 'Hatchback', 'MPV', 'Convertible',
       'CoupÃ©/Sports', 'Station wagon'], dtype=object)

In [ ]:
carset['Fuel'].unique()

array(['Hybrid', 'Diesel', 'Petrol', 'CNG', 'Electric', 'Other fuel type'],
      dtype=object)

In [ ]:
carset['Capacity'].unique()

In [ ]:
carset['Mileage'].unique()

In [ ]:
carset['Price'].unique()

In [ ]:
carset['Edition'].unique()

Issues founds



1.   *model column looks fine*

2.  *the brand column ok*

3. year ok
4.condition ok
5.transmission ok (remove other type)
6.body ok 
7.fuel other types remove
8.capacity need to (convert into int values, remove cc ,change into same fromat)
9. price change into int format
10. milage change into int format

11. edition need to change

**bold text**

In [ ]:
#creating a backup copy of our dataset
backupcarset = carset.copy()

Cleaning the data of price column

In [ ]:
#to remove a data rows carset[carset['Price'] != 'askfor price'] 
#checking non numeric values from the pricecolumn
print(len(carset['Price'].str.isnumeric()))

40531

In [ ]:
# removing commas from the price tags and set it into the integer type
carset['Price'] = carset['Price'].str.replace(',','').astype(int);

In [ ]:
#checking the infor object to check weather dataset is changed or not
carset.info()

featuring the milage to integer type

In [ ]:
carset['Mileage'].unique()

In [ ]:
carset['Mileage'] =carset['Mileage'].str.split(" ").str.get(0).str.replace(",",'').astype(int)

In [ ]:
carset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40531 entries, 0 to 40530
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         40531 non-null  int64
 1   Brand         40531 non-null  object
 2   Model         40531 non-null  object
 3   Edition       40531 non-null  object
 4   Year          40531 non-null  int64
 5   Condition     40531 non-null  object
 6   Transmission  40531 non-null  object
 7   Body          40531 non-null  object
 8   Fuel          40531 non-null  object
 9   Capacity      40531 non-null  object
 10  Mileage       40531 non-null  int64
dtypes: int64(3), object(8)
memory usage: 3.4+ MB

brand-edition start

In [123]:
print( np.array(pd.unique(carset[['Brand','Edition']].values.ravel('K'))).ndim)

df = pd.DataFrame({'Brand' : carset['Brand'],
                   'Edition' : carset['Edition']})

print(len(df))
#df.to_csv('brand_edition.csv')
print(len(df.groupby(['Brand','Edition']).first()))
#pd.DataFrame(pd.unique(carset[['Brand','Edition']].values.ravel('C')) , columns = ['Brand','Edition'])

df.groupby(['Brand','Edition']).first().to_csv("car_unique.csv")

1
40531
16199
None

brand edition -end

capacity

In [124]:
carset['Capacity'].unique()

array(['1,500 cc', '2,200 cc', '1,200 cc', '2,700 cc', '650 cc',
       '1,000 cc', '3,200 cc', '1,905 cc', '1,800 cc', '2,500 cc',
       '660 cc', '1,300 cc', '2,143 cc', '2,000 cc', '1,400 cc',
       '2,400 cc', '800 cc', '1,490 cc', '1,580 cc', '1,600 cc',
       '3,000 cc', '1,190 cc', '5,000 cc', '70 cc', '2,800 cc',
       '1,790 cc', '1,330 cc', '2,900 cc', '2,660 cc', '3,500 cc',
       '600 cc', '2,755 cc', '2,982 cc', '2,350 cc', '3,900 cc', '240 cc',
       '990 cc', '215 cc', '3,300 cc', '2,990 cc', '1,290 cc', '4,200 cc',
       '1,850 cc', '1,990 cc', '1,995 cc', '4,600 cc', '1,680 cc',
       '1,280 cc', '4,700 cc', '2,690 cc', '1,590 cc', '4,900 cc',
       '1,332 cc', '1,350 cc', '2,600 cc', '2,980 cc', '1,998 cc',
       '1,450 cc', '2,199 cc', '998 cc', '1,980 cc', '3,800 cc',
       '2,148 cc', '1,798 cc', '658 cc', '1,498 cc', '3,490 cc',
       '4,160 cc', '3,660 cc', '4,461 cc', '630 cc', '2,494 cc',
       '1,499 cc', '4,800 cc', '1,100 cc', '1,750 cc', '1,970 cc',
       '1,997 cc', '1,248 cc', '1,598 cc', '2,180 cc', '2,770 cc',
       '4,500 cc', '1,339 cc', '3,600 cc', '1,890 cc', '4,000 cc',
       '2,956 cc', '1,495 cc', '4,242 cc', '1,950 cc', '6,600 cc',
       '1,595 cc', '1,430 cc', '1,390 cc', '954 cc', '950 cc', '2,390 cc',
       '1,342 cc', '1,900 cc', '1,496 cc', '4,400 cc', '2,477 cc',
       '2,442 cc', '1,197 cc', '4,660 cc', '80 cc', '2,179 cc',
       '3,958 cc', '1,240 cc', '1,984 cc', '1,597 cc', '1,589 cc',
       '2,447 cc', '1,793 cc', '1,320 cc', '2,950 cc', '2,530 cc',
       '2,499 cc', '8,000 cc', '110 cc', '996 cc', '2,696 cc', '1,480 cc',
       '1,991 cc', '1,830 cc', '1,303 cc', '6,162 cc', '796 cc',
       '2,490 cc', '2,495 cc', '1,780 cc', '4,185 cc', '1,575 cc',
       '1,395 cc', '664 cc', '1,340 cc', '2,960 cc', '4,951 cc',
       '2,450 cc', '3,498 cc', '1,599 cc', '2,987 cc', '2,765 cc',
       '1,323 cc', '1,470 cc', '2,196 cc', '250 cc', '216 cc',
       '10,000 cc', '1,468 cc', '1,999 cc', '624 cc', '2,440 cc',
       '999 cc', '217 cc', '850 cc', '2,164 cc', '1,792 cc', '1,700 cc',
       '1,486 cc', '2,830 cc', '1,349 cc', '205 cc', '1,497 cc',
       '1,399 cc', '900 cc', '2,351 cc', '668 cc', '1,360 cc', '2,150 cc',
       '2,820 cc', '3,400 cc', '799 cc', '1,449 cc', '1,899 cc',
       '1,333 cc', '690 cc', '2,560 cc', '625 cc', '1,796 cc', '880 cc',
       '2,300 cc', '1,250 cc', '2,694 cc', '2,986 cc', '3,198 cc',
       '1,951 cc', '4,661 cc', '1,650 cc', '1,975 cc', '1,760 cc', '1 cc',
       '3,390 cc', '1,555 cc', '4,701 cc', '2,790 cc', '1,005 cc',
       '700 cc', '1,920 cc', '1,439 cc', '6,450 cc', '1,328 cc',
       '2,553 cc', '6,000 cc', '2,835 cc', '4,640 cc', '2,951 cc',
       '100 cc', '1,171 cc', '1,690 cc', '750 cc', '230 cc', '2,771 cc',
       '1,359 cc', '1,298 cc', '1,160 cc', '980 cc', '2,237 cc',
       '1,799 cc', '1,971 cc', '1,720 cc', '2,850 cc', '1,275 cc',
       '2,730 cc', '1,895 cc', '1,193 cc', '2,360 cc', '1,460 cc',
       '2,776 cc', '2,190 cc', '1,368 cc', '2,349 cc', '659 cc', '220 cc',
       '1,781 cc', '2,488 cc', '2,250 cc', '2,996 cc', '132 cc', '400 cc',
       '375 cc', '1,130 cc', '1,199 cc', '1,296 cc', '2,750 cc',
       '1,489 cc', '2,489 cc', '3,370 cc', '1,270 cc', '2,498 cc',
       '2,953 cc', '2,659 cc', '500 cc', '1,455 cc', '150 cc', '2,253 cc',
       '1,587 cc', '2,736 cc', '892 cc', '300 cc', '632 cc', '160 cc',
       '1,410 cc', '3,250 cc', '2,100 cc', '1,398 cc', '3,895 cc',
       '1,397 cc', '1,230 cc', '1,688 cc', '1,973 cc', '2,198 cc',
       '3,150 cc', '145 cc', '2,401 cc', '890 cc', '2,160 cc', '813 cc',
       '812 cc', '2,188 cc', '620 cc', '1,988 cc', '2,183 cc', '103 cc',
       '1,932 cc', '2,052 cc', '6,500 cc', '997 cc', '2,523 cc',
       '1,974 cc', '3,100 cc', '111 cc', '1,295 cc', '1,981 cc',
       '2,650 cc', '814 cc', '199 cc', '1,405 cc', '1,341 cc', '40 cc',
       '2,995 cc', '1,299 cc', '2,004 cc', '1,408 cc', '2,230 cc',
       '2,470 cc', '2,680 cc', '1,476 cc', '1,174 cc', '2 cc', '1,388 cc',
       '2,460 cc', '970 cc', '1,493 cc', '948 cc', '1,530 cc', '3,497 cc',
       '2,446 cc', '3,310 cc', '3,950 cc', '1,085 cc', '904 cc', '130 cc',
       '1,870 cc', '2,972 cc', '2,780 cc', '2,142 cc', '1,166 cc',
       '2,456 cc', '6,200 cc', '2,362 cc', '4,360 cc', '1,396 cc',
       '640 cc', '1,324 cc', '2,399 cc', '2,340 cc', '90 cc', '1,075 cc',
       '2,688 cc', '2,720 cc', '2,880 cc', '1,030 cc', '798 cc',
       '1,150 cc', '1,061 cc', '125 cc', '2,380 cc', '2,760 cc',
       '1,277 cc', '2,325 cc', '989 cc', '1,420 cc', '3,700 cc',
       '4,394 cc', '1,050 cc', '1,797 cc', '3,199 cc', '2,257 cc',
       '709 cc', '4,999 cc', '3,240 cc', '3,050 cc', '4 cc', '180 cc',
       '2,345 cc', '2,997 cc', '1,509 cc', '4,250 cc', '1,220 cc',
       '1,994 cc', '2,970 cc', '2,430 cc', '1,591 cc', '2,459 cc',
       '993 cc', '3,153 cc', '2,993 cc', '4,528 cc', '1,370 cc',
       '1,317 cc', '1,986 cc', '2,998 cc', '1,594 cc', '2,779 cc',
       '4,462 cc', '2,559 cc', '3,456 cc', '1,380 cc', '2,496 cc',
       '200 cc', '2,422 cc', '4,460 cc', '550 cc', '3,110 cc', '2,005 cc',
       '2,018 cc', '3,590 cc', '3,780 cc', '1,670 cc', '1,550 cc',
       '1,605 cc', '1,960 cc', '2,145 cc', '988 cc', '3,956 cc',
       '1,265 cc', '2,825 cc', '1,968 cc', '1,714 cc', '76 cc',
       '3,070 cc', '1,640 cc', '1,832 cc', '2,550 cc', '1,820 cc',
       '1,310 cc', '1,548 cc', '61 cc', '1,471 cc', '2,280 cc',
       '2,030 cc', '1,170 cc', '2,570 cc', '2,597 cc', '1,234 cc',
       '2,999 cc', '2,140 cc', '5,146 cc', '1,996 cc', '760 cc',
       '2,171 cc', '3 cc', '4,199 cc', '1,242 cc', '1,910 cc', '840 cc',
       '3,999 cc', '2,238 cc', '1,928 cc', '3,431 cc', '2,497 cc',
       '1,987 cc', '6,100 cc', '1,576 cc', '1,452 cc', '1,198 cc',
       '1,838 cc', '1,192 cc', '1,825 cc', '2,480 cc', '1,020 cc',
       '1,622 cc', '270 cc', '2,429 cc', '1,331 cc', '3,450 cc',
       '1,195 cc', '960 cc', '2,525 cc', '858 cc', '3,960 cc', '225 cc',
       '649 cc', '3,168 cc', '1,098 cc', '7,000 cc', '451 cc', '155 cc',
       '3,794 cc', '2,663 cc', '5,461 cc', '2,393 cc', '670 cc', '669 cc',
       '2,775 cc', '665 cc', '698 cc', '2,799 cc', '2,920 cc', '1,794 cc',
       '1,620 cc', '2,007 cc', '2,493 cc', '1,897 cc', '2,469 cc',
       '680 cc', '1,725 cc', '1,244 cc', '1,048 cc', '15 cc', '2,630 cc',
       '85 cc', '2,194 cc', '2,099 cc', '166 cc', '1,948 cc', '1,462 cc',
       '185 cc', '2,112 cc', '3,790 cc', '2,979 cc', '346 cc', '2,981 cc',
       '2,510 cc', '2,123 cc', '1,880 cc', '190 cc', '3,604 cc',
       '1,992 cc', '129 cc', '245 cc', '1,896 cc', '538 cc', '2,189 cc',
       '73 cc', '1,294 cc', '1,477 cc', '45 cc'], dtype=object)

capacity