<a href="https://colab.research.google.com/github/lochana-vishwajith/ML_Assignment2_IT19140230_IT19111520_IT18014396_IT19152806/blob/main/ML_Assingment2_CarPrice_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

description about the libraries


**NumPy**

NumPy, which stands for Numerical Python, is a python library that consists of multidimensional array objects and a collection of routines for processing those arrays. Using NumPy, logical and mathematical operations can be performed.

**sklearn**

Sklearn, which stands for scikit-learn is a python library for machine learning. Sklearn is focuses on machine learning techniques, such as mathematical, statistical, and general-purpose algorithms, which serve as the foundation for many machine learning technologies. The sklearn library includes a number of useful machine learning and statistical modeling methods, such as classification, regression, clustering, and dimensionality reduction.

In [ ]:
#Importing libraries 
import pandas as pd
import numpy  as np
from sklearn import linear_model
import sys
np.set_printoptions(threshold=sys.maxsize)

importing the code

In [ ]:
url = 'https://raw.githubusercontent.com/lochana-vishwajith/ML_Assignment2_IT19140230_IT19111520_IT18014396_IT19152806/main/Vehicle%20details.csv'
carset = pd.read_csv(url)

checking the dataset

In [ ]:
carset.head()

,Price,Brand,Model,Edition,Year,Condition,Transmission,Body,Fuel,Capacity,Mileage
0,"12,900,000",Honda,Vezel,Limited,2017,Used,Automatic,SUV / 4x4,Hybrid,"1,500 cc","37,000 km"
1,"16,250,000",Jaguar,XF,Fully Loaded,2013,Used,Automatic,Saloon,Diesel,"2,200 cc","42,000 km"
2,"17,000,000",Toyota,CHR,GT New Face 2wd,2020,Used,Automatic,SUV / 4x4,Petrol,"1,200 cc","15,000 km"
3,"13,000,000",Toyota,CHR,Toyato,2017,Used,Automatic,SUV / 4x4,Petrol,"1,200 cc","21,000 km"
4,"33,500,000",Toyota,Land Cruiser Prado,prado,2015,Used,Automatic,SUV / 4x4,Petrol,"2,700 cc","57,000 km"

In [ ]:
carset.shape

(40531, 11)

In [ ]:
carset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40531 entries, 0 to 40530
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         40531 non-null  object
 1   Brand         40531 non-null  object
 2   Model         40531 non-null  object
 3   Edition       40531 non-null  object
 4   Year          40531 non-null  int64
 5   Condition     40531 non-null  object
 6   Transmission  40531 non-null  object
 7   Body          40531 non-null  object
 8   Fuel          40531 non-null  object
 9   Capacity      40531 non-null  object
 10  Mileage       40531 non-null  object
dtypes: int64(1), object(10)
memory usage: 3.4+ MB

Featuring the dataset

In [ ]:
#finding the unique values available in the year
carset['Year'].unique()
#year column is ok

In [ ]:
# finding the unique values in price
len(carset['Price'].unique())

2516

In [ ]:
len(carset['Edition'].unique())

14106

some of the data has been supressed we cannot have a look on them so need to enable options to see them as well.

In [ ]:
pd.describe_option()

changing the options of the pandas to see all the rows

In [ ]:
pd.get_option('display.max_columns')

In [ ]:
pd.get_option('display.max_rows')

changing the properties

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
#display.max_seq_items

pd.set_option('display.max_colwidth',None)

In [ ]:
#display.show_dimensions
pd.get_option('display.show_dimensions')

True

In [ ]:
from os import truncate
#display.show_dimensions set
pd.set_option('display.show_dimensions',True)

In [ ]:
#display.show_dimensions
pd.get_option('display.show_dimensions')

True

checking out the options selected correctly or not

In [ ]:
carset['Edition'].unique()

In [ ]:
len(carset['Brand'].unique())

60

In [ ]:
type(carset['Edition'].unique())

numpy.ndarray

In [ ]:
print(carset['Edition'].unique())

In [ ]:

print(len(carset['Edition'].unique()))

14106

featuring continues

In [ ]:
carset['Brand'].unique()

In [ ]:
carset['Model'].unique()

In [ ]:
carset['Year'].unique()

In [ ]:
carset['Year'].unique()

In [ ]:
carset['Condition'].unique()

array(['Used', 'Reconditioned', 'New'], dtype=object)

In [ ]:
carset['Transmission'].unique()

array(['Automatic', 'Manual', 'Tiptronic', 'Other transmission'],
      dtype=object)

In [ ]:
carset['Body'].unique()

array(['SUV / 4x4', 'Saloon', 'Hatchback', 'MPV', 'Convertible',
       'CoupÃ©/Sports', 'Station wagon'], dtype=object)

In [ ]:
carset['Fuel'].unique()

array(['Hybrid', 'Diesel', 'Petrol', 'CNG', 'Electric', 'Other fuel type'],
      dtype=object)

In [ ]:
carset['Capacity'].unique()

In [ ]:
carset['Mileage'].unique()

In [ ]:
carset['Price'].unique()

In [ ]:
carset['Edition'].unique()

Issues founds



1.   *model column looks fine*

2.  *the brand column ok*

3. year ok
4.condition ok
5.transmission ok (remove other type)
6.body ok 
7.fuel other types remove
8.capacity need to (convert into int values, remove cc ,change into same fromat)
9. price change into int format
10. milage change into int format

11. edition need to change

**bold text**

In [ ]:
#creating a backup copy of our dataset
backupcarset = carset.copy()

Cleaning the data of price column

In [ ]:
#to remove a data rows carset[carset['Price'] != 'askfor price'] 
#checking non numeric values from the pricecolumn
print(len(carset['Price'].str.isnumeric()))

40531

In [ ]:
# removing commas from the price tags and set it into the integer type
carset['Price'] = carset['Price'].str.replace(',','').astype(int);

In [ ]:
#checking the infor object to check weather dataset is changed or not
carset.info()

featuring the milage to integer type

In [ ]:
carset['Mileage'].unique()

In [ ]:
carset['Mileage'] =carset['Mileage'].str.split(" ").str.get(0).str.replace(",",'').astype(int)

In [ ]:
carset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40531 entries, 0 to 40530
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         40531 non-null  int64
 1   Brand         40531 non-null  object
 2   Model         40531 non-null  object
 3   Edition       40531 non-null  object
 4   Year          40531 non-null  int64
 5   Condition     40531 non-null  object
 6   Transmission  40531 non-null  object
 7   Body          40531 non-null  object
 8   Fuel          40531 non-null  object
 9   Capacity      40531 non-null  object
 10  Mileage       40531 non-null  int64
dtypes: int64(3), object(8)
memory usage: 3.4+ MB

brand-edition start

In [ ]:
print( np.array(pd.unique(carset[['Brand','Edition']].values.ravel('K'))).ndim)

df = pd.DataFrame({'Brand' : carset['Brand'],
                   'Edition' : carset['Edition']})

# print(len(df))
# #df.to_csv('brand_edition.csv')
# print(len(df.groupby(['Brand']).first()))
# #pd.DataFrame(pd.unique(carset[['Brand','Edition']].values.ravel('C')) , columns = ['Brand','Edition'])
# print("unique",len(carset['Brand'].unique() ))
# df.groupby(['Brand']).first().to_csv("car_unique.csv")
carset.pop('Edition')
carset.info()

1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40531 entries, 0 to 40530
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         40531 non-null  int64
 1   Brand         40531 non-null  object
 2   Model         40531 non-null  object
 3   Year          40531 non-null  int64
 4   Condition     40531 non-null  object
 5   Transmission  40531 non-null  object
 6   Body          40531 non-null  object
 7   Fuel          40531 non-null  object
 8   Capacity      40531 non-null  object
 9   Mileage       40531 non-null  int64
dtypes: int64(3), object(7)
memory usage: 3.1+ MB

brand edition -end

capacity

In [ ]:
carset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40531 entries, 0 to 40530
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         40531 non-null  int64
 1   Brand         40531 non-null  object
 2   Model         40531 non-null  object
 3   Year          40531 non-null  int64
 4   Condition     40531 non-null  object
 5   Transmission  40531 non-null  object
 6   Body          40531 non-null  object
 7   Fuel          40531 non-null  object
 8   Capacity      40531 non-null  object
 9   Mileage       40531 non-null  int64
dtypes: int64(3), object(7)
memory usage: 3.1+ MB

capacity

In [ ]:
carset['Capacity'] = carset['Capacity'].str.split(" ").str.get(0).str.replace(",",'').astype(int)

capacity end

In [ ]:
carset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40479 entries, 0 to 40530
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         40479 non-null  int64
 1   Brand         40479 non-null  object
 2   Model         40479 non-null  object
 3   Year          40479 non-null  int64
 4   Condition     40479 non-null  object
 5   Transmission  40479 non-null  object
 6   Body          40479 non-null  object
 7   Fuel          40479 non-null  object
 8   Capacity      40479 non-null  int64
 9   Mileage       40479 non-null  int64
dtypes: int64(4), object(6)
memory usage: 3.4+ MB

featuring the minor changes of fuel and transmission

In [ ]:
carset['Transmission'].unique()

array(['Automatic', 'Manual', 'Tiptronic', 'Other transmission'],
      dtype=object)

In [ ]:
#removing other transmissions
carset = carset[carset['Transmission'] != 'Other transmission']

In [ ]:
#check uniques for transmissions
carset['Transmission'].unique()

array(['Automatic', 'Manual', 'Tiptronic'], dtype=object)

In [ ]:
#featuring fuel types
carset['Fuel'].unique()

array(['Hybrid', 'Diesel', 'Petrol', 'CNG', 'Electric', 'Other fuel type'],
      dtype=object)

In [ ]:
#removing other fuel type
carset = carset[carset['Fuel'] != 'Other fuel type']

In [ ]:
#check unique for fuel type
carset['Fuel'].unique()

array(['Hybrid', 'Diesel', 'Petrol', 'CNG', 'Electric'], dtype=object)

In [ ]:
#featuring completed
carset.describe()

              Price          Year      Capacity         Mileage
count  4.047900e+04  40479.000000  40479.000000    40479.000000
mean   9.934406e+06   2009.476568   1555.366017    92102.184367
std    1.181827e+07     10.746571    737.306977    74082.445019
min    1.500000e+03   1922.000000      1.000000        0.000000
25%    3.500000e+06   2007.000000   1000.000000    41860.500000
50%    6.250000e+06   2014.000000   1500.000000    79000.000000
75%    1.157750e+07   2017.000000   1800.000000   125000.000000
max    2.100000e+08   2022.000000  10000.000000  1000000.000000

[8 rows x 4 columns]

Finished Featuring